body {
    font-family: 'Libre Baskerville', serif;
    margin: 0;
    background-image: url("./img/backphone.jpg");
}
h1 {
    margin: 0;
    color:black;
}

h2 {
    font-size: 50px;
    color:black;
    margin: 0;
}

h3 {
    color:black;
}

p {
    margin: 0;
    font-weight: 500;
    color:black;
}

img {
    display: block;
}
.header-link {
    color:black;
}
.header-ling:hover {
    color: coral;
}


.container {
    
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    text-align: center;
}
/*Header*/
.hero {
    padding-top: 50px;
}

nav {
   display: flex;
    justify-content: space-between;
}
ul {
    display: flex;
    list-style-type: none;
    width: 500px;
    justify-content: space-around;
    font-size: 20px;
    margin: 0;
    
} 

ul.show {
    display: block;
}

li {
    
    text-decoration: none;
}

a {
   text-decoration: none;
   color: #fff;
}

/*Hero*/

.hero {
    
   text-align: center;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   background-image: linear-gradient(rgba(47,48,58,0.4), rgba(47,48,58,0.4)),
   url("./img/kids.jpg");

}

.hero-btn {
    cursor: pointer;
	width: 400px;
    height: 50px;
    border-radius: 30px;
    border: 1px solid black;
    background-color: coral;
    text-align: center;
    font-size: 30px;
    font-weight: 300;
    padding-top: 6px;
    margin-left: 0;
    margin-top: 500px;
}

.hero-btn:hover {
    background-color: #ef744b;
}

.hero-btn:active {
    background-color: #A9A9A9;
    color: #808080;
}
/*About school*/

.about__school-text {
padding-top: 50px;
}

/*Kind lessons*/

.kind__lessons {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

.lessons__container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.lesson__card {
    text-align: center;
    width: 300px;
    height: 500px;
    box-shadow: 5px 5px 20px;
    margin: 10px;
}
.card__content {
    padding: 10px;
}

/*Gallery*/
.our__pupils {
    text-align: center;
}
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
}


.gallery__item {
    margin: 10px;
}

.gallery-img {
    border-radius: 50%;
}

/*Our contacts*/

.our__contacts {
    padding-top: 100px;
}

.wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
   
}
.address {
    display: block;
}
.contacts {
    
    margin-right: 70px;
    display: inline-block;
    font-size: 14px;
}
.contact__list {
    text-align:left;
    list-style: none;
    display: block;
}
.contact__list-item {
    margin-bottom: 10px;
}
.contacts__info {
    padding-top: 10px;
}

.contacts__soclink-list {
    
    justify-content: space-between;
    margin-top: 20px;
    width: 100px;
    padding: 0;
}

.soclist__item {
    margin-left: 10px;
}

.subscribe-text {
    
    text-align: center;
}
.subscribe {
    margin-left: 330px;
}
.forma {
    display: flex;
    flex-direction: column;
}

.form-input {
    width: 300px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
}

.form__btn {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    width: 200px;
    border-radius: 2px;
}

/*MOBILE*/   

@media screen and (max-width: 420px) {
.container {
    width: 420px;
    margin: 0;
    
}
.hero-btn {
margin-top: 250px;
}
.lessons__text {
   font-size: 24px;
   margin-bottom: 10px;
}
.lessons__container {
    width: 420px;
}
.lesson__card {
    width: 420px;
}
img {
    width: 420px;
    height: 250px;
}
}
@media  screen and (max-width: 1000px) {
   
   .hamburger {
    display: block;
    border: 0;
    background-color: transparent;
    color: #fff;
    font-size: 30px;
    margin: 20px;
    align-self: flex-end;
   }
    nav {
        display: flex;
        flex-direction: column-reverse;
        margin: 0;
        background-color: coral;
    }
     ul {
        display: none;
        
    }
    li {
        margin-top: 10px;
        padding-right: 150px;
    }
    .logo {
        display: none;
    }
   
}
